In [1]:
from os import path
fname = path.expanduser('/Users/alexanderblaies/Desktop/ML Projects and Exercises/LinkedIn Lessons/Ex_Files_Data_Science_Python/Exercise Files/Pandas/04_02/track.csv')

In [2]:
print('c:\path\to\nowhere.csv')

c:\path	o
owhere.csv

In [3]:
print(r'c:\path\to\nowhere.csv')

c:\path\to\nowhere.csv

In [4]:
!ls -lh "$fname"

-rw-r--r--@ 1 mikitebeka  staff    43K Apr  4 13:11 /Users/mikitebeka/Desktop/Exercise Files/Ch04/04_02/track.csv

In [5]:
path.getsize(fname)

43844

In [6]:
path.getsize(fname) / (1<<10)

42.81640625

In [7]:
!head "$fname"

time,lat,lng,height
2015-08-20 03:48:07.235,35.015021,32.519585,136.1999969482422
2015-08-20 03:48:24.734,35.014954,32.519606,126.5999984741211
2015-08-20 03:48:25.660,35.014871,32.519612,123.0
2015-08-20 03:48:26.819,35.014824,32.519654,120.5
2015-08-20 03:48:27.828,35.014776,32.519689,118.9000015258789
2015-08-20 03:48:29.720,35.014704,32.519691,119.9000015258789
2015-08-20 03:48:30.669,35.014657,32.519734,120.9000015258789
2015-08-20 03:48:33.793,35.014563,32.519719,121.69999694824219
2015-08-20 03:48:34.869,35.014549,32.519694,121.19999694824219

In [8]:
with open(fname) as fp:
    for lnum, line in enumerate(fp):
        if lnum > 10:
            break
        print(line[:-1])

time,lat,lng,height
2015-08-20 03:48:07.235,35.015021,32.519585,136.1999969482422
2015-08-20 03:48:24.734,35.014954,32.519606,126.5999984741211
2015-08-20 03:48:25.660,35.014871,32.519612,123.0
2015-08-20 03:48:26.819,35.014824,32.519654,120.5
2015-08-20 03:48:27.828,35.014776,32.519689,118.9000015258789
2015-08-20 03:48:29.720,35.014704,32.519691,119.9000015258789
2015-08-20 03:48:30.669,35.014657,32.519734,120.9000015258789
2015-08-20 03:48:33.793,35.014563,32.519719,121.69999694824219
2015-08-20 03:48:34.869,35.014549,32.519694,121.19999694824219
2015-08-20 03:48:37.708,35.014515,32.519625,121.69999694824219

In [9]:
!wc -l "$fname"

     741 /Users/mikitebeka/Desktop/Exercise Files/Ch04/04_02/track.csv

In [10]:
with open(fname) as fp:
    print(sum(1 for line in fp))

741

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('/Users/alexanderblaies/Desktop/ML Projects and Exercises/LinkedIn Lessons/Ex_Files_Data_Science_Python/Exercise Files/Pandas/04_02/track.csv')

In [3]:
len(df)

740

In [4]:
df.columns

Index(['time', 'lat', 'lng', 'height'], dtype='object')

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 740 entries, 0 to 739
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   time    740 non-null    object
 1   lat     740 non-null    float64
 2   lng     740 non-null    float64
 3   height  740 non-null    float64
dtypes: float64(3), object(1)
memory usage: 23.2+ KB

In [6]:
df.head()

                      time        lat        lng      height
0  2015-08-20 03:48:07.235  35.015021  32.519585  136.199997
1  2015-08-20 03:48:24.734  35.014954  32.519606  126.599998
2  2015-08-20 03:48:25.660  35.014871  32.519612  123.000000
3  2015-08-20 03:48:26.819  35.014824  32.519654  120.500000
4  2015-08-20 03:48:27.828  35.014776  32.519689  118.900002

In [7]:
df.dtypes

time       object
lat       float64
lng       float64
height    float64
dtype: object

In [8]:
df = pd.read_csv(fname, parse_dates=['time'])

NameError: name 'fname' is not defined

In [ ]:
df.dtypes

In [9]:
df['lat']

0      35.015021
1      35.014954
2      35.014871
3      35.014824
4      35.014776
         ...
735    35.014387
736    35.014355
737    35.014279
738    35.014264
739    35.014212
Name: lat, Length: 740, dtype: float64

In [10]:
df.lat

0      35.015021
1      35.014954
2      35.014871
3      35.014824
4      35.014776
         ...
735    35.014387
736    35.014355
737    35.014279
738    35.014264
739    35.014212
Name: lat, Length: 740, dtype: float64

In [11]:
df[['lat', 'lng']]

           lat        lng
0    35.015021  32.519585
1    35.014954  32.519606
2    35.014871  32.519612
3    35.014824  32.519654
4    35.014776  32.519689
..         ...        ...
735  35.014387  32.517020
736  35.014355  32.517035
737  35.014279  32.517087
738  35.014264  32.517098
739  35.014212  32.517142

[740 rows x 2 columns]

In [12]:
df['lat'][0]

35.015021000000004

In [13]:
df.loc[0]

time      2015-08-20 03:48:07.235
lat                        35.015
lng                       32.5196
height                      136.2
Name: 0, dtype: object

In [14]:
df.loc[2:7]

                      time        lat        lng      height
2  2015-08-20 03:48:25.660  35.014871  32.519612  123.000000
3  2015-08-20 03:48:26.819  35.014824  32.519654  120.500000
4  2015-08-20 03:48:27.828  35.014776  32.519689  118.900002
5  2015-08-20 03:48:29.720  35.014704  32.519691  119.900002
6  2015-08-20 03:48:30.669  35.014657  32.519734  120.900002
7  2015-08-20 03:48:33.793  35.014563  32.519719  121.699997

In [15]:
df[['lat', 'lng']][2:7]

         lat        lng
2  35.014871  32.519612
3  35.014824  32.519654
4  35.014776  32.519689
5  35.014704  32.519691
6  35.014657  32.519734

In [16]:
df.index

RangeIndex(start=0, stop=740, step=1)

In [17]:
import numpy as np
df1 = pd.DataFrame(np.arange(10).reshape((5,2)), columns=['x', 'y'], index=['a', 'b', 'c', 'd', 'e'])
df1

   x  y
a  0  1
b  2  3
c  4  5
d  6  7
e  8  9

In [18]:
df1.loc['a']

x    0
y    1
Name: a, dtype: int64

In [19]:
df1.loc['b': 'd']

   x  y
b  2  3
c  4  5
d  6  7

In [20]:
df.index

RangeIndex(start=0, stop=740, step=1)

In [21]:
df.index = df['time']
df.index

Index(['2015-08-20 03:48:07.235', '2015-08-20 03:48:24.734',
       '2015-08-20 03:48:25.660', '2015-08-20 03:48:26.819',
       '2015-08-20 03:48:27.828', '2015-08-20 03:48:29.720',
       '2015-08-20 03:48:30.669', '2015-08-20 03:48:33.793',
       '2015-08-20 03:48:34.869', '2015-08-20 03:48:37.708',
       ...
       '2015-08-20 04:20:18.844', '2015-08-20 04:20:21.996',
       '2015-08-20 04:20:22.897', '2015-08-20 04:20:24.905',
       '2015-08-20 04:20:25.835', '2015-08-20 04:20:28.982',
       '2015-08-20 04:20:29.923', '2015-08-20 04:20:32.863',
       '2015-08-20 04:20:33.994', '2015-08-20 04:20:42.329'],
      dtype='object', name='time', length=740)

In [22]:
df.loc['2015-08-20 04:18:54']

KeyError: '2015-08-20 04:18:54'

In [27]:
df.loc['2015-08-20 03:48']

KeyError: '2015-08-20 03:48'

In [24]:
import pytz

In [25]:
ts = df.index[0]

In [26]:
ts.tz_localize(pytz.UTC)

AttributeError: 'str' object has no attribute 'tz_localize'

In [40]:
ts.tz_localize(pytz.UTC).tz_convert(pytz.timezone('Asia/Jerusalem'))

Timestamp('2015-08-20 06:48:07.235000+0300', tz='Asia/Jerusalem')

In [41]:
df.index = df.index.tz_localize(pytz.UTC).tz_convert(pytz.timezone('Asia/Jerusalem'))
df.index[:10]

DatetimeIndex(['2015-08-20 06:48:07.235000+03:00',
               '2015-08-20 06:48:24.734000+03:00',
               '2015-08-20 06:48:25.660000+03:00',
               '2015-08-20 06:48:26.819000+03:00',
               '2015-08-20 06:48:27.828000+03:00',
               '2015-08-20 06:48:29.720000+03:00',
               '2015-08-20 06:48:30.669000+03:00',
               '2015-08-20 06:48:33.793000+03:00',
               '2015-08-20 06:48:34.869000+03:00',
               '2015-08-20 06:48:37.708000+03:00'],
              dtype='datetime64[ns, Asia/Jerusalem]', name='time', freq=None)

In [42]:
%pwd

'/Users/mikitebeka'

In [43]:
import geo

In [44]:
1

1

In [45]:
import sys
sys.path

['',
 '/Users/mikitebeka/anaconda/envs/track/lib/python36.zip',
 '/Users/mikitebeka/anaconda/envs/track/lib/python3.6',
 '/Users/mikitebeka/anaconda/envs/track/lib/python3.6/lib-dynload',
 '/Users/mikitebeka/anaconda/envs/track/lib/python3.6/site-packages',
 '/Users/mikitebeka/anaconda/envs/track/lib/python3.6/site-packages/setuptools-27.2.0-py3.6.egg',
 '/Users/mikitebeka/anaconda/envs/track/lib/python3.6/site-packages/IPython/extensions',
 '/Users/mikitebeka/.ipython']

In [46]:
??geo

In [47]:
from geo import circle_dist

In [48]:
lat1, lng1 = df.iloc[0].lat, df.iloc[0].lng
lat2, lng2 = df.iloc[1].lat, df.iloc[1].lng

In [49]:
circle_dist(lat1, lng1, lat2, lng2)

0.0076951035867691957

In [50]:
s = pd.Series(np.arange(5))

In [51]:
s

0    0
1    1
2    2
3    3
4    4
dtype: int64

In [52]:
s.shift()

0    NaN
1    0.0
2    1.0
3    2.0
4    3.0
dtype: float64

In [53]:
s.shift(-1)

0    1.0
1    2.0
2    3.0
3    4.0
4    NaN
dtype: float64

In [54]:
dist = circle_dist(df['lat'], df['lng'], df['lat'].shift(), df['lng'].shift())

In [55]:
dist[:10]

time
2015-08-20 06:48:07.235000+03:00         NaN
2015-08-20 06:48:24.734000+03:00    0.007695
2015-08-20 06:48:25.660000+03:00    0.009248
2015-08-20 06:48:26.819000+03:00    0.006479
2015-08-20 06:48:27.828000+03:00    0.006219
2015-08-20 06:48:29.720000+03:00    0.008010
2015-08-20 06:48:30.669000+03:00    0.006533
2015-08-20 06:48:33.793000+03:00    0.010545
2015-08-20 06:48:34.869000+03:00    0.002759
2015-08-20 06:48:37.708000+03:00    0.007336
dtype: float64

In [56]:
dist.sum()

4.6881365592010695

In [57]:
dt = df['time'] - df['time'].shift()

In [58]:
dt[:10]

time
2015-08-20 06:48:07.235000+03:00               NaT
2015-08-20 06:48:24.734000+03:00   00:00:17.499000
2015-08-20 06:48:25.660000+03:00   00:00:00.926000
2015-08-20 06:48:26.819000+03:00   00:00:01.159000
2015-08-20 06:48:27.828000+03:00   00:00:01.009000
2015-08-20 06:48:29.720000+03:00   00:00:01.892000
2015-08-20 06:48:30.669000+03:00   00:00:00.949000
2015-08-20 06:48:33.793000+03:00   00:00:03.124000
2015-08-20 06:48:34.869000+03:00   00:00:01.076000
2015-08-20 06:48:37.708000+03:00   00:00:02.839000
Name: time, dtype: timedelta64[ns]

In [59]:
dt.sum()

Timedelta('0 days 00:32:35.094000')

In [61]:
dt[1].total_seconds()

17.499000000000002

In [62]:
dt[1] / np.timedelta64(1, 'h')

0.0048608333333333333

In [63]:
dt[1].total_seconds()/3600

0.004860833333333334

In [64]:
speed = dist / (dt / np.timedelta64(1, 'h'))

In [65]:
speed[:10]

time
2015-08-20 06:48:07.235000+03:00          NaN
2015-08-20 06:48:24.734000+03:00     1.583083
2015-08-20 06:48:25.660000+03:00    35.954340
2015-08-20 06:48:26.819000+03:00    20.123165
2015-08-20 06:48:27.828000+03:00    22.187213
2015-08-20 06:48:29.720000+03:00    15.240609
2015-08-20 06:48:30.669000+03:00    24.781220
2015-08-20 06:48:33.793000+03:00    12.151207
2015-08-20 06:48:34.869000+03:00     9.230505
2015-08-20 06:48:37.708000+03:00     9.302840
dtype: float64

In [66]:
df['dist'] = dist
df['dt'] = dt

In [67]:
df1m = df.resample('1min').sum()

In [68]:
df1m.index

DatetimeIndex(['2015-08-20 06:48:00+03:00', '2015-08-20 06:49:00+03:00',
               '2015-08-20 06:50:00+03:00', '2015-08-20 06:51:00+03:00',
               '2015-08-20 06:52:00+03:00', '2015-08-20 06:53:00+03:00',
               '2015-08-20 06:54:00+03:00', '2015-08-20 06:55:00+03:00',
               '2015-08-20 06:56:00+03:00', '2015-08-20 06:57:00+03:00',
               '2015-08-20 06:58:00+03:00', '2015-08-20 06:59:00+03:00',
               '2015-08-20 07:00:00+03:00', '2015-08-20 07:01:00+03:00',
               '2015-08-20 07:02:00+03:00', '2015-08-20 07:03:00+03:00',
               '2015-08-20 07:04:00+03:00', '2015-08-20 07:05:00+03:00',
               '2015-08-20 07:06:00+03:00', '2015-08-20 07:07:00+03:00',
               '2015-08-20 07:08:00+03:00', '2015-08-20 07:09:00+03:00',
               '2015-08-20 07:10:00+03:00', '2015-08-20 07:11:00+03:00',
               '2015-08-20 07:12:00+03:00', '2015-08-20 07:13:00+03:00',
               '2015-08-20 07:14:00+03:00', '2015-08-20 07:15:00+03:00',
               '2015-08-20 07:16:00+03:00', '2015-08-20 07:17:00+03:00',
               '2015-08-20 07:18:00+03:00', '2015-08-20 07:19:00+03:00',
               '2015-08-20 07:20:00+03:00'],
              dtype='datetime64[ns, Asia/Jerusalem]', name='time', freq='T')

In [70]:
df1m.columns

Index(['lat', 'lng', 'height', 'dist'], dtype='object')

In [71]:
df['dt'] = dt / np.timedelta64(1, 'h')
df1m = df.resample('1min').sum()
speed1m = df1m['dist'] / df1m['dt']

In [72]:
speed1m[:10]

time
2015-08-20 06:48:00+03:00     8.127204
2015-08-20 06:49:00+03:00     7.579874
2015-08-20 06:50:00+03:00     9.127708
2015-08-20 06:51:00+03:00    10.220254
2015-08-20 06:52:00+03:00    10.114795
2015-08-20 06:53:00+03:00     9.687816
2015-08-20 06:54:00+03:00    10.856153
2015-08-20 06:55:00+03:00    10.891833
2015-08-20 06:56:00+03:00    10.270188
2015-08-20 06:57:00+03:00     6.629179
Freq: T, dtype: float64