## Python statistics essential training - 02_03_pandas

Standard imports

In [12]:
import numpy as np
import pandas as pd

import matplotlib
import matplotlib.pyplot as pp

%matplotlib inline

In [15]:
planets = pd.read_csv('Planets.csv', usecols=[0,1,2,3])
planets

    Planet       Mass Diameter  DayLength
0  MERCURY     0.3300     4879     4222.6
1    VENUS     4.8700   12,104     2802.0
2    EARTH     5.9700   12,756       24.0
3     MOON     0.0730     3475      708.7
4     MARS     0.6420     6792       24.7
5  JUPITER  1898.0000  142,984        9.9
6   SATURN   568.0000  120,536       10.7
7   URANUS    86.8000   51,118       17.2
8  NEPTUNE   102.0000   49,528       16.1
9    PLUTO     0.0146     2370      153.3

In [16]:
planets['Mass']

0       0.3300
1       4.8700
2       5.9700
3       0.0730
4       0.6420
5    1898.0000
6     568.0000
7      86.8000
8     102.0000
9       0.0146
Name: Mass, dtype: float64

In [17]:
planets.Mass

0       0.3300
1       4.8700
2       5.9700
3       0.0730
4       0.6420
5    1898.0000
6     568.0000
7      86.8000
8     102.0000
9       0.0146
Name: Mass, dtype: float64

In [18]:
planets.index

RangeIndex(start=0, stop=10, step=1)

In [20]:
planets.loc[0]

Planet       MERCURY
Mass            0.33
Diameter        4879
DayLength     4222.6
Name: 0, dtype: object

In [22]:
planets.set_index('Planet')
#this results in a copy of the original dataframe, in order to permenantly change the
#index, one needs to call on inplace = True

              Mass Diameter  DayLength
Planet
MERCURY     0.3300     4879     4222.6
VENUS       4.8700   12,104     2802.0
EARTH       5.9700   12,756       24.0
MOON        0.0730     3475      708.7
MARS        0.6420     6792       24.7
JUPITER  1898.0000  142,984        9.9
SATURN    568.0000  120,536       10.7
URANUS     86.8000   51,118       17.2
NEPTUNE   102.0000   49,528       16.1
PLUTO       0.0146     2370      153.3

In [24]:
planets.set_index('Planet',inplace = True)

KeyError: "None of ['Planet'] are in the columns"

In [25]:
planets

              Mass Diameter  DayLength
Planet
MERCURY     0.3300     4879     4222.6
VENUS       4.8700   12,104     2802.0
EARTH       5.9700   12,756       24.0
MOON        0.0730     3475      708.7
MARS        0.6420     6792       24.7
JUPITER  1898.0000  142,984        9.9
SATURN    568.0000  120,536       10.7
URANUS     86.8000   51,118       17.2
NEPTUNE   102.0000   49,528       16.1
PLUTO       0.0146     2370      153.3

In [26]:
planets.info

<bound method DataFrame.info of               Mass Diameter  DayLength
Planet
MERCURY     0.3300     4879     4222.6
VENUS       4.8700   12,104     2802.0
EARTH       5.9700   12,756       24.0
MOON        0.0730     3475      708.7
MARS        0.6420     6792       24.7
JUPITER  1898.0000  142,984        9.9
SATURN    568.0000  120,536       10.7
URANUS     86.8000   51,118       17.2
NEPTUNE   102.0000   49,528       16.1
PLUTO       0.0146     2370      153.3>

In [27]:
len(planets)

10

In [28]:
planets.loc['MERCURY']

Mass           0.33
Diameter       4879
DayLength    4222.6
Name: MERCURY, dtype: object

In [29]:
planets.loc['MERCURY':'EARTH']

         Mass Diameter  DayLength
Planet
MERCURY  0.33     4879     4222.6
VENUS    4.87   12,104     2802.0
EARTH    5.97   12,756       24.0

In [30]:
planets.columns

Index(['Mass', 'Diameter', 'DayLength'], dtype='object')

In [31]:
planets = pd.read_csv('Planets.csv')

In [32]:
planets.set_index('Planet', inplace = True)

In [33]:
planets.FirstVisited['MERCURY']

'1974-03-29'

In [34]:
planets.loc['MERCURY'].FirstVisited

'1974-03-29'

In [35]:
planets.loc['MERCURY','FirstVisited']

'1974-03-29'

In [36]:
type(planets.loc['MERCURY','FirstVisited'])

str

In [37]:
pd.to_datetime(planets.FirstVisited)

Planet
MERCURY   1974-03-29
VENUS     1962-08-27
EARTH            NaT
MOON      1959-09-12
MARS      1965-07-15
JUPITER   1973-12-04
SATURN    1979-09-01
URANUS    1986-01-24
NEPTUNE   1989-08-25
PLUTO     2015-07-14
Name: FirstVisited, dtype: datetime64[ns]

In [38]:
planets.FirstVisited = pd.to_datetime(planets.FirstVisited)

In [40]:
planets.FirstVisited.dt.year

Planet
MERCURY    1974.0
VENUS      1962.0
EARTH         NaN
MOON       1959.0
MARS       1965.0
JUPITER    1973.0
SATURN     1979.0
URANUS     1986.0
NEPTUNE    1989.0
PLUTO      2015.0
Name: FirstVisited, dtype: float64

In [41]:
2018 - planets.FirstVisited.dt.year

Planet
MERCURY    44.0
VENUS      56.0
EARTH       NaN
MOON       59.0
MARS       53.0
JUPITER    45.0
SATURN     39.0
URANUS     32.0
NEPTUNE    29.0
PLUTO       3.0
Name: FirstVisited, dtype: float64